<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>UQHelpPageCustomize</key>
        <dict>
            <key>PassportReaderHelpPages</key>
            <dict>
                <key>title</key>
                <string>Scan</string>
                <key>instructions</key>
                <array>
                    <dict>
                        <key>title</key>
                        <string>Remove the cover from both the phone and the passport</string>
                        <key>description</key>
                        <string></string>
                    </dict>
                    <dict>
                        <key>title</key>
                        <string>Hold the front page of the passport near to the phone.</string>
                        <key>description</key>
                        <string></string>
                    </dict>
                    <dict>
                        <key>title</key>
                        <string>If the previous step doesn’t work try to open the data page of your passport and hold it near the phone.</string>
                        <key>description</key>
                        <string></string>
                    </dict>
                    <dict>
                        <key>title</key>
                        <string>If the previous step doesn’t work try to open the back page of your passport and hold it near the phone.</string>
                        <key>description</key>
                        <string></string>
                    </dict>
                </array>
            </dict>
            <key>IDReaderHelpPages</key>
            <dict>
                <key>title</key>
                <string>Read</string>
                <key>instructions</key>
                <array>
                    <dict>
                        <key>title</key>
                        <string>Scan contactless chip</string>
                        <key>description</key>
                        <string>Hold phone near to ID for \n10 seconds</string>
                    </dict>
                </array>
            </dict>
            <key>PassportScannerHelpPages</key>
            <dict>
                <key>title</key>
                <string>Scan</string>
                <key>instructions</key>
                <array>
                    <dict>
                        <key>title</key>
                        <string>Scan %@</string>
                        <key>description</key>
                        <string>Fit %@ to the frame</string>
                    </dict>
                </array>
            </dict>
            <key>IDScannerHelpPages</key>
            <dict>
                <key>title</key>
                <string>Scan</string>
                <key>instructions</key>
                <array>
                    <dict>
                        <key>title</key>
                        <string>Scan %@</string>
                        <key>description</key>
                        <string>Fit %@ to the frame</string>
                    </dict>
                </array>
            </dict>
        </dict>
        <key>UQLayoutCustomize</key>
        <dict>
            <key>uq_layout_logo_image</key>
            <string>brand_image_name</string>
            <key>uq_layout_background_color</key>
            <string>#F6F6F6</string>
            <key>uq_layout_gradient_background_color_start</key>
            <string>#E5E5E5</string>
            <key>uq_layout_gradient_background_color_end</key>
            <string>#37465B</string>
            <key>uq_layout_enable_gradient_background</key>
            <string>NO</string>
            <key>uq_layout_background_image</key>
            <string></string>
            <key>uq_layout_color_dark_blue</key>
            <string>#37465B</string>
            <key>uq_layout_color_dark_grey</key>
            <string>#E5E5E5</string>
            <key>uq_layout_color_light_grey</key>
            <string>#3B3B3B</string>
            <key>uq_layout_color_white</key>
            <string>#FFFFFF</string>
            <key>uq_layout_color_progress</key>
            <string>#9B9B9B</string>
            <key>uq_layout_color_navigation_item</key>
            <string>#C4C4C4</string>
            <key>uq_layout_color_title</key>
            <string>#37465B</string>
            <key>uq_layout_color_description</key>
            <string>#3B3B3B</string>
            <key>uq_title_font_name</key>
            <string></string>
            <key>uq_description_font_name</key>
            <string></string>
            <key>uq_button_title_font_name</key>
            <string></string>
            <key>uq_title_font_size</key>
            <string>16</string>
            <key>uq_description_font_size</key>
            <string>13</string>
            <key>uq_button_title_font_size</key>
            <string>18</string>
            <key>uq_button_item_title_font_size</key>
            <string>14</string>
            <key>uq_button_helppage_title_font_size</key>
            <string>14</string>
            <key>uq_title_font_weight</key>
            <string>Medium</string>
            <key>uq_description_font_weight</key>
            <string>Regular</string>
            <key>uq_button_title_font_weight</key>
            <string>Medium</string>
            <key>uq_title_color</key>
            <string>#37465B</string>
            <key>uq_description_color</key>
            <string>#3B3B3B</string>
            <key>uq_button_title_color</key>
            <string>#37465B</string>
            <key>uq_button_border_color</key>
            <string>#37465B</string>
            <key>uq_button_background_color</key>
            <string></string>
            <key>uq_button_background_Image</key>
            <string>button</string>
            <key>uq_button_border_width</key>
            <string>1</string>
            <key>uq_button_corner_radius</key>
            <string>6</string>
            <key>uq_back_arrow_light_style_image</key>
            <string></string>
            <key>uq_back_arrow_dark_style_image</key>
            <string></string>
            <key>uq_navigation_item_light_style_tint_color</key>
            <string>#FFFFFF</string>
            <key>uq_navigation_item_dark_style_tint_color</key>
            <string>#C4C4C4</string>
            <key>uq_help_page_corner_radius</key>
            <string>8</string>
            <key>uq_title_text_uppercase</key>
            <string>YES</string>
        </dict>
        <key>UQDocumentDescriptionCustomize</key>
        <dict>
            <key>uq_document_description_uae_id</key>
            <string>Emirates Id</string>
            <key>uq_document_description_uae_dl</key>
            <string>Driving License</string>
            <key>uq_document_description_uae_vl</key>
            <string>Vehicle License</string>
            <key>uq_document_description_omn_id</key>
            <string>Omani Id</string>
            <key>uq_document_description_passport</key>
            <string>Passport</string>
            <key>uq_document_description_pak_id</key>
            <string>Pakistan National Id</string>
            <key>uq_document_description_sau_id</key>
            <string>Saudi National Id</string>
            <key>uq_document_description_bhr_id</key>
            <string>Bahrain National Id</string>
            <key>uq_document_description_kwt_id</key>
            <string>Kuwait National Id</string>
            <key>uq_document_description_generic_id</key>
            <string>National Id</string>
            <key>uq_document_description_uae_visa</key>
            <string>UAE Visa</string>
            <key>uq_document_description_qat_id</key>
            <string>Qatar National Id</string>
            <key>uq_document_description_nld_dl</key>
            <string>Driving License</string>
            <key>uq_document_description_deu_id</key>
            <string>German National Id</string>
            <key>uq_document_description_sdn_id</key>
            <string>National Id</string>
            <key>uq_document_description_sdn_dl</key>
            <string>Driving License</string>
            <key>uq_document_description_sdn_vl</key>
            <string>Vehicle License</string>
        </dict>
        <key>UQButtonCustomize</key>
        <dict>
            <key>uq_button_title_retry</key>
            <string>Try again</string>
            <key>uq_button_title_cancel</key>
            <string>Cancel</string>
            <key>uq_button_title_ok</key>
            <string>Ok</string>
            <key>uq_button_title_continue</key>
            <string>Continue</string>
            <key>uq_button_title_confirm</key>
            <string>Confirm</string>
            <key>uq_button_title_check_input</key>
            <string>Check Input</string>
            <key>uq_button_title_scan</key>
            <string>Scan</string>
            <key>uq_button_title_quit</key>
            <string>Quit</string>
            <key>uq_button_title_yes</key>
            <string>Yes</string>
            <key>uq_button_title_no</key>
            <string>No</string>
            <key>uq_button_title_help</key>
            <string>Help</string>
            <key>uq_button_title_search_country</key>
            <string>Search country</string>
            <key>uq_button_title_nfc_read</key>
            <string>Scan</string>
            <key>uq_button_title_decline</key>
            <string>Decline</string>
            <key>uq_button_title_consent</key>
            <string>Consent</string>
            <key>uq_button_title_imready</key>
            <string>Let&apos;s start</string>
        </dict>
        <key>UQStatusDescriptionCustomize</key>
        <dict>
            <key>uq_status_title_validate_scan</key>
            <string>Validating...</string>
            <key>uq_status_title_validate_read</key>
            <string>Validating...</string>
            <key>uq_status_title_validate_face</key>
            <string>Fetching result...</string>
            <key>uq_status_title_initialize</key>
            <string>Initiating...</string>
            <key>uq_status_title_loading</key>
            <string>Loading...</string>
            <key>uq_status_title_updating</key>
            <string>Updating...</string>
            <key>uq_status_title_verifying</key>
            <string>Verifying...</string>
            <key>uq_status_title_confirm_quite</key>
            <string>Are you sure you want to quit the enrollment?</string>
        </dict>
        <key>UQScannerLayoutCustomize</key>
        <dict>
            <key>uq_scan_help_page_description</key>
            <string>Fit %@ to the frame</string>
            <key>uq_scan_feedback_id</key>
            <string>Please hold %@ on the front of camera</string>
            <key>uq_scan_glare_detected</key>
            <string>Please move the document, glare detected</string>
            <key>uq_scan_message</key>
            <string>Fit %@ side to frame</string>
            <key>uq_scan_message_single_side</key>
            <string>Fit data page to frame</string>
            <key>uq_scan_error_scan_failed</key>
            <string>We weren&apos;t able to scan the document, please try again</string>
            <key>uq_scan_error_empty_value</key>
            <string>Fields cannot be empty</string>
            <key>uq_scan_error_wrong_country_code</key>
            <string>Please check the country code</string>
            <key>uq_scan_error_invalid_document_number</key>
            <string>The document number is invalid</string>
            <key>uq_scan_event_alert_title</key>
            <string>HAVING TROUBLE SCANNING?</string>
            <key>uq_scan_error_scan_api_error</key>
            <string>Please scan again the document starting from the front page</string>
            <key>uq_scan_info_id</key>
            <string>If there are glares or reflections scan in a different position</string>
            <key>uq_scan_turn_text</key>
            <string>Turn document over</string>
            <key>uq_scan_done_message_single_side</key>
            <string>Scanning Completed</string>
            <key>uq_scan_error_failed</key>
            <string>Scanning failed</string>
            <key>uq_scan_error_expired</key>
            <string>Please make sure to use a valid document</string>
            <key>uq_scan_error_document_identify</key>
            <string>Ensure:\n1. Good lighting conditions\n2. Camera lens is clean\n3. No reflections on document</string>
            <key>document_front</key>
            <string>FRONT</string>
            <key>document_back</key>
            <string>BACK</string>
            <key>uq_scan_edit_details_title</key>
            <string>Review Data</string>
            <key>uq_scan_edit_details_personal_info</key>
            <string>Personal Information</string>
            <key>uq_scan_document_parameter_name</key>
            <string>Name</string>
            <key>uq_scan_document_parameter_surname</key>
            <string>Surname</string>
            <key>uq_scan_document_parameter_date_of_birth</key>
            <string>Date of birth</string>
            <key>uq_scan_document_parameter_of_expiry</key>
            <string>Date of expiry</string>
            <key>uq_scan_document_parameter_document_number</key>
            <string>Document number</string>
            <key>uq_scan_document_parameter_nationality</key>
            <string>Nationality</string>
            <key>uq_scan_document_parameter_issuer</key>
            <string>Issuer</string>
            <key>uq_scan_document_parameter_gender</key>
            <string>Gender</string>
            <key>uq_scan_document_parameter_code</key>
            <string>Document code</string>
            <key>uq_scan_document_parameter_gender_male</key>
            <string>Male</string>
            <key>uq_scan_document_parameter_gender_female</key>
            <string>Female</string>
            <key>uq_scan_document_parameter_gender_unspecified</key>
            <string>Unspecified</string>
            <key>uq_scan_document_parameter_gender_male_symbol</key>
            <string>M</string>
            <key>uq_scan_document_parameter_gender_female_symbol</key>
            <string>F</string>
            <key>uq_scan_document_parameter_gender_unspecified_symbol</key>
            <string>&lt;</string>
            <key>uq_scan_edit_invalid_parameter</key>
            <string>Please check the %@ parameter</string>
            <key>uq_scan_edit_event_alert_description</key>
            <string>Are you sure you want to cancel edit data?</string>
            <key>uq_scan_review</key>
            <string>Scan Review</string>
            <key>uq_scan_text_visible</key>
            <string>Ensure all data is clearly readable</string>
            <key>uq_scan_face_visible</key>
            <string>Ensure your face is clearly visible\nand no hologram is covering it</string>
            <key>uq_scan_rescan</key>
            <string>Rescan</string>
            <key>uq_scan_continue</key>
            <string>Continue</string>
            <key>uq_scan_upload_page_title</key>
            <string>Upload %@</string>
            <key>uq_scan_upload_select_file</key>
            <string>Select File</string>
            <key>uq_scan_upload_accepted_file_type</key>
            <string>Accepted file type: PDF</string>
            <key>uq_scan_upload_tip</key>
            <string>For a two side document the first image in the PDF must be the front side and the second image the back side</string>
            <key>uq_scan_upload_no_file_selected</key>
            <string>No file selected</string>
            <key>uq_scan_upload_max_file_size</key>
            <string>Max file size allowed is 5MB</string>
            <key>uq_scan_error_upload_document_identify</key>
            <string>Make sure that the PDF contains the requested document and it is clearly visible. For a two side document the front side must be the first picture, the back side the second picture</string>
            <key>uq_upload</key>
            <string>Upload</string>
            <key>uq_scan_upload_select_file_background_color</key>
            <string>#F6F6F6</string>
            <key>uq_scan_upload_select_file_stroke_color</key>
            <string>#C4C4C4</string>
            <key>uq_scan_upload_select_file_stroke_width</key>
            <string>1</string>
            <key>uq_scan_upload_select_file_corner_radius</key>
            <string>8</string>
            <key>uq_scan_upload_select_file_font_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_select_file_font_size</key>
            <string>14</string>
            <key>uq_scan_upload_select_file_font_weight</key>
            <string>Medium</string>
            <key>uq_scan_upload_select_file_selected_background_color</key>
            <string>#F6F6F6</string>
            <key>uq_scan_upload_select_file_selected_stroke_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_select_file_selected_stroke_width</key>
            <string>1</string>
            <key>uq_scan_upload_select_file_selected_corner_radius</key>
            <string>8</string>
            <key>uq_scan_upload_select_file_selected_font_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_select_file_selected_font_size</key>
            <string>14</string>
            <key>uq_scan_upload_select_file_selected_font_weight</key>
            <string>Medium</string>
            <key>uq_scan_upload_tip_background_color</key>
            <string>#3E9F3FE</string>
            <key>uq_scan_upload_tip_corner_radius</key>
            <string>6</string>
            <key>uq_scan_upload_tip_font_color</key>
            <string>#37465B</string>
            <key>uq_scan_upload_tip_font_size</key>
            <string>14</string>
            <key>uq_scan_upload_tip_font_weight</key>
            <string>Medium</string>
            <key>uq_scan_face_detection_issue</key>
            <string>Make sure the ID photo in the document is clear</string>
        </dict>
        <key>UQReadingLayoutCustomize</key>
        <dict>
            <key>uq_reading_skip_nfc</key>
            <string>Skip</string>
            <key>uq_reading_skip</key>
            <string>Skip</string>
            <key>uq_reading_status_reading</key>
            <string>Reading data</string>
            <key>uq_reading_status_validating</key>
            <string>Validating...</string>
            <key>uq_reading_error_lost_communication</key>
            <string>Unable to read the data, please hold the phone still</string>
            <key>uq_read_uae_id_error_data_mismatch</key>
            <string>Authentication error</string>
            <key>uq_read_uae_id_reading</key>
            <string>Don’t move document!</string>
            <key>uq_read_uae_id_reading_completed</key>
            <string>Scanning Completed</string>
            <key>uq_read_uae_id_reading_failed</key>
            <string>That was too short!\nHold the phone near ID for longer</string>
            <key>uq_read_uae_id_info_hold_phone</key>
            <string>Hold the phone near ID</string>
            <key>uq_read_passport_help_page_title</key>
            <string>Scan contactless chip</string>
            <key>uq_read_passport_help_page_description</key>
            <string>Hold phone near to passport for \n10 seconds</string>
            <key>uq_read_passport_error_data_mismatch</key>
            <string>Authentication error</string>
            <key>uq_read_passport_reading_data</key>
            <string>Don’t move document!</string>
            <key>uq_read_passport_reading_completed</key>
            <string>Scanning Completed</string>
            <key>uq_read_passport_reading_failed</key>
            <string>That was too short!\nHold the phone near Passport for longer</string>
            <key>uq_read_passport_info_hold_phone</key>
            <string>Hold the phone near Passport</string>
            <key>uq_reading_info_scanned_data_mismatch</key>
            <string>Sorry, it seems that the data extracted from the document scanning step is not correct. We will take you again back to the previous step to perform another document scanning.</string>
            <key>uq_read_omn_id_error_data_mismatch</key>
            <string>Authentication error</string>
            <key>uq_read_omn_id_reading</key>
            <string>Don’t move document!</string>
            <key>uq_read_omn_id_reading_completed</key>
            <string>Scanning Completed</string>
            <key>uq_read_omn_id_reading_failed</key>
            <string>That was too short!\nHold the phone near ID for longer</string>
            <key>uq_read_omn_id_info_hold_phone</key>
            <string>Hold the phone near ID</string>
            <key>uq_read_nld_dl_error_data_mismatch</key>
            <string>Authentication error</string>
            <key>uq_read_nld_dl_reading</key>
            <string>Don’t move document!</string>
            <key>uq_read_nld_dlreading_completed</key>
            <string>Scanning Completed</string>
            <key>uq_read_nld_dl_reading_failed</key>
            <string>That was too short!\nHold the phone near ID for longer</string>
            <key>uq_read_nld_dl_info_hold_phone</key>
            <string>Hold the phone near driving license</string>
            <key>uq_reading_more_than_one_tag_found</key>
            <string>Make sure only a single document is near the phone</string>
        </dict>
        <key>UQErrorMessageCustomize</key>
        <dict>
            <key>uq_error_network_unavailable</key>
            <string>Internet not available, please make sure to have a valid connection before continuing</string>
            <key>uq_error_reader_unavailable</key>
            <string>Reader for requested type is not available</string>
            <key>uq_error_rooted_device_found</key>
            <string>Feature not supported on Rooted Device</string>
            <key>uq_error_nfc_not_found</key>
            <string>Requested feature not supported on device</string>
            <key>uq_error_auth_token_missing</key>
            <string>Authentication token missing</string>
            <key>uq_error_document_missing</key>
            <string>At least 1 document is required</string>
            <key>uq_error_permission_denied</key>
            <string>Permission request denied</string>
            <key>uq_server_error_invalid_input</key>
            <string>Missing required input or invalid format</string>
            <key>uq_server_error_scan_document_not_recognized</key>
            <string>Document type not recognized</string>
            <key>uq_server_error_scan_document_expired</key>
            <string>Document is expired</string>
            <key>uq_server_error_scan_document_front_back_mismatch</key>
            <string>Front and back page don't belong to the same document</string>
            <key>uq_server_error_scan_document_edit_not_enabled</key>
            <string>Manual editing of the scanned document is not enabled</string>
            <key>uq_server_error_read_document_invalid_signature</key>
            <string>Document invalid digital signature found</string>
            <key>uq_server_error_read_document_expired</key>
            <string>Document is expired</string>
            <key>uq_server_error_face_liveness_retry</key>
            <string>Liveness retry</string>
            <key>uq_server_error_face_liveness_failed</key>
            <string>Liveness failed</string>
            <key>uq_server_error_face_no_match</key>
            <string>Face doesn&apos;t match all the documents provided</string>
            <key>uq_error_invalid_input</key>
            <string>Missing required input or invalid format</string>
            <key>uq_error_scanning_failed</key>
            <string>Scanning failed</string>
            <key>uq_error_reading_failed</key>
            <string>Attention</string>
            <key>uq_error_reading_chip_validation_failed</key>
            <string>Chip validation failed</string>
            <key>uq_read_chip_validation_failed_message</key>
            <string>Seems that the chip of your document is not valid, therefore we are not going to read the data inside the chip. Despite the chip validation failure, this step is optional, you can either skip it or cancel the enrollment process.</string>
            <key>uq_error_read_document_invalid</key>
            <string>Invalid document</string>
            <key>uq_read_document_invalid_message</key>
            <string>Seems that your document is not valid, therefore we are not going to read the data inside the chip. Despite the invalid document, this step is optional, you can either skip it or cancel the enrollment process.</string>
            <key>uq_server_error_read_document_validation_failed</key>
            <string>Your document is not valid</string>
            <key>uq_error_camera_permission_denied</key>
            <string>Attention</string>
            <key>uq_error_camera_permission_denied_description</key>
            <string>You denied the camera access before and it is required to use this application. After you click the button below you will be taken to the application settings where you can allow the camera access. Please note that the application will restart after changing the setting.</string>
        </dict>
        <key>UQFaceRecognitionLayoutCustomize</key>
        <dict>
            <key>uq_face_facial_recognition_init</key>
            <string>Initializing...</string>
            <key>uq_face_liveness_validate_message</key>
            <string>Validating...</string>
            <key>uq_face_retry_message</key>
            <string>Session canceled or timeout occurred. Want to retry?</string>
            <key>uq_face_position</key>
            <string>Position head inside oval,\nthen start recording</string>
            <key>uq_face_facial_recognition_move</key>
            <string>Nod your head</string>
            <key>uq_face_facial_recognition_find_face</key>
            <string>Detecting face</string>
            <key>uq_face_facial_recognition_warning_motion_detection</key>
            <string>No motion detected</string>
            <key>uq_face_facial_recognition_warning_face_detection</key>
            <string>No face detected</string>
            <key>uq_face_feedback_title_text_color</key>
            <string>#FFFFFF</string>
            <key>uq_face_feedback_background_color</key>
            <string>#63A2FF</string>
            <key>uq_face_feedback_text_color</key>
            <string>#37465B</string>
            <key>uq_face_scan_button_title_color</key>
            <string>#F4F4F4</string>
            <key>uq_face_scan_button_border_color</key>
            <string>#F4F4F4</string>
            <key>uq_face_dialog_face_not_match</key>
            <string>Your face didn’t match</string>
            <key>uq_face_fail_feedback_hint_title</key>
            <string>Here are some hints:</string>
            <key>uq_face_hints</key>
            <string>Here are some hints:\n1. Fit face inside oval\n2. Follow the blue avatar\n3. Move head, not phone</string>
            <key>uq_face_avoid_condition</key>
            <string>Avoid following conditions:</string>
            <key>uq_face_too_dark</key>
            <string>Too dark!</string>
            <key>uq_face_too_light</key>
            <string>Too light!</string>
            <key>uq_face_too_close</key>
            <string>Too close!</string>
            <key>uq_face_too_far</key>
            <string>Too far away!</string>
            <key>uq_face_perfect</key>
            <string>Perfect!</string>
            <key>uq_face_facial_recognition_motion_error</key>
            <string>Do not move the device</string>
            <key>uq_face_facial_recognition_move_closer</key>
            <string>Move closer to the oval</string>
            <key>uq_face_facial_recognition_move_further</key>
            <string>Move further from the oval</string>
            <key>uq_face_facial_recognition_face_detected</key>
            <string>Please do not move</string>
            <key>uq_face_dialog_do_not_move_phone_title</key>
            <string>Do not move the phone</string>
            <key>uq_face_dialog_do_not_move_phone</key>
            <string>Do not move phone</string>
            <key>uq_face_dialog_nod_slightly</key>
            <string>Nod slightly</string>
            <key>uq_face_title</key>
            <string>Facial Verification</string>
        </dict>
        <key>UQErrorStatusMessageCustomize</key>
        <dict>
            <key>uq_error_status_internal_error</key>
            <string>The service encountered an internal error</string>
            <key>uq_error_status_forbidden</key>
            <string>The requested feature is not available</string>
            <key>uq_error_status_session_expired_or_not_found</key>
            <string>Session expired or not found</string>
            <key>uq_error_status_user_cancelled</key>
            <string>User cancelled the process</string>
            <key>uq_error_status_payload_too_large</key>
            <string>The payload is too large</string>
            <key>uq_error_status_unexpected_error</key>
            <string>Something went wrong, please try again</string>
            <key>uq_error_status_face_max_failed_attempt_reached</key>
            <string>Session invalidated because of 3 facial recognition failure attempts</string>
            <key>uq_error_status_reading_not_supported</key>
            <string>Reading is not supported by the document</string>
        </dict>
        <key>UQBackgroundCheckMessageCustomize</key>
        <dict>
            <key>uq_bg_check_background_check</key>
            <string>Background Check</string>
            <key>uq_bg_check_background_check_description</key>
            <string>TBD: A text that explains what is a background check and what are the checks that will be performed.</string>
            <key>uq_bg_check_sending_status</key>
            <string>Processing background check...</string>
            <key>uq_bg_check_error_decline</key>
            <string>Are you sure you want to decline?</string>
            <key>uq_bg_check_error_exit</key>
            <string>Are you sure you want to exit the enrollment process?</string>
        </dict>
    </dict>
</plist>
